// compileCompressed: ../css/$1.min.css
$colorLinks: #00acae
$bgColor: #fff
$bgColorSwitch: #d6f7f6
$formColor: #333
$eulaColor: #666

body
  font-family: 'Open Sans', sans-serif
  background-color: $bgColor

a
  color: $colorLinks

  &:hover
    text-decoration: none
    color: $colorLinks

.container
  width: 25em
  padding: 2.85em 0 0 0
  border: solid 1px #ccc

  .col-md-12
    padding: 0

  .logo
    width: 105px
    height: auto

  form
    float: left
    width: 100%
    padding: 1.4em 2.5em 0 2em
    color: $formColor
    font-weight: normal

  label
    font-weight: normal
    margin-top: 0.2em

  .forgot
    float: right


  input
    width: 100%
    height: 2.5em
    padding: 0.1em 0.65em
    border: solid 1px #ccc
    border-radius: 2px
    color: $eulaColor

  .error
    display: none

    &.show
      display: block

  button
    font-size: 1.25em
    width: 100%
    background-color: $colorLinks
    color: white
    border: none
    padding: 0.6em
    margin-top: 0.6em
    margin-bottom: 2em
    border-radius: 2px
    text-transform: uppercase

    &:hover
      opacity: 0.5

  .eula
    font-size: 0.81em
    margin-bottom: 2em



/* main.html */

#main
  span
    display: block

  button
    margin-bottom: 1em
    margin-top: 0

.switch
  position: relative
  display: inline-block
  width: 4em
  height: 2.2em



  input
    display: none

    &:checked
      ~ .slider
        background-color: $colorLinks

    &:focus
      ~ .slider
        box-shadow: 0 0 1px #006667


    &:checked
      ~ .slider:before
        transform: translateX(26px)

  .slider
    display: inline-block
    position: absolute
    cursor: pointer
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: $bgColorSwitch
    border: solid 1px #8bcfd0
    transition: 0.4s

    &:before
      position: absolute
      content: ""
      height: 2.1em
      width: 2.1em
      left: 0em
      bottom: 0em
      background-color: #fff
      border: solid 1px #8bcfd0
      transition: 0.4s

  .round
    border-radius: 1.2em

  .round
    &:before
      border-radius: 1.2em
